@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    align-items: center;
}
nav div h1{
    color: white;
    font-weight: 400;
}
.ProjectName{
    margin: 0;
}
.Space{
    font-weight: 300;
    color: #40E0D0;
}
.Links{
    align-items: center;
    margin-right: 30px;
    display: flex;
    width: 10%;
    justify-content: space-between;
}
.Links a{
    text-decoration: none;
}
.Trips-link{
    color: white;
}
.Filled{
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.60);
    color: black;
    background-color: #EBF4FF;
}